body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.ag-cell {
  padding: 0;
  overflow:visible
}

actions-button-cell:has(.MultiColumn) {
  overflow: visible;
}

.ag-cell:has(.MultiColumn)l {
  overflow: visible;
}

.ag-row {
  z-index: 0;
}

.ag-row.ag-row-focus {
  z-index: 1;
}


.ag-root,
.ag-root-wrapper,
.ag-body-viewport,
.ag-body-viewport-wrapper,
.ag-center-cols-clipper,
.ag-center-cols-viewport {
  overflow: visible;
}

.table-container {
  height: calc(100vh - 50px);
  overflow: auto;
}

.foot {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  padding: 0 14px;
}

.foot__button {
  background-color: black;
  color: white;
  border-radius: 4px;
  padding: 6px;
}

.foot__input {
  padding: 6px;
  border-radius: 4px;
}